:root {
    /* ========================================================== */
    /* PALETA MONTESSORIANA (Inspirada na Imagem) */
    /* ========================================================== */

    /* Fundo/Neutro Claro (Parede, Fundo Principal) */
    --color-background-light: #b0b6ba;

    /* Texto Principal / Contraste Escuro */
    --color-text-primary: #313b2f;

    /* Acento Neutro / Madeira Clara (Tons de bege, almofadas) */
    --color-neutral-accent: #6a736f;

    /* Acento Suave / Destaque (Detalhes do cobertor, Salmão Muted) */
    --color-accent-soft: #cbcfd1;

    /* Cor de Ação/Links (Substitui o azul antigo por uma cor de ação padrão e acessível) */
    --color-action-link: #ffd639;
}

/* ========================================================== */
/* LAYOUT DA PÁGINA */
/* ========================================================== */
.admin-page-container {
    font-family: Arial, sans-serif;
    color: #313b2f;
    background: #833ab4;
    background: linear-gradient(
        145deg,
        rgba(131, 58, 180, 0.4) 0%,
        rgba(255, 186, 186, 0.4) 50%,
        rgba(252, 176, 69, 0.4) 100%
    );
}

.admin-divider {
    margin: 20px 0;
    border: none;
    border-top: 1px solid var(--color-text-primary);
}

/* ========================================================== */
/* GRID DE CARDS */
/* ========================================================== */

.admin-cards-grid {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.admin-card-link {
    text-decoration: none; /* Remove sublinhado dos links */
    color: inherit;
    margin-bottom: 40px;
}

.admin-card {
    /* Estilo BASE do CARD_STYLE original */
    padding: 20px;
    margin: 10px;
    width: 250px;
    height: 300px;
    border: 1px solid var(--color-text-primary);
    background-color: #3636363d;
    border-radius: 8px;
    box-shadow: 0 0 20px #00000070;

    /* Estilos de Display */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* Transições e Hover */
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.admin-card:hover {
    /* transform: translateY(5px); */
    box-shadow: 0 0 0px #00000070;
}

/* ========================================================== */
/* ESTILOS DOS ELEMENTOS INTERNOS */
/* ========================================================== */

.card-icon {
    /* Estilo do ícone */
    color: #ffffff; /* Cor do ícone */
    margin: 10px;
    font-size: 40px;
}

.card-title {
    margin: 5px 0;
    color: #000000;
}

.card-description {
    font-size: 0.9em;
    color: var(--color-text-secondary);
    margin: 5px 0 10px 0;
    flex-grow: 1; /* Garante que todos os cards tenham a mesma altura */
}

.stats-cards-container .stat-card {
    flex: 1;
    padding: 20px;
    border: 1px solid var(--color-text-primary);
    background-color: #3636363d;
    border-radius: 8px;
    box-shadow: 0 0 20px #00000070;
    text-align: center;
}

.card-grafic {
    flex: 2;
    padding: 20px;
    border: 1px solid var(--color-text-primary);
    background-color: #e4e4e43d;
    border-radius: 8px;
    box-shadow: 0 0 20px #00000070;
    text-align: center;
}

@media (max-width: 780px) {
    .admin-card {
        padding: 10px;
        margin: 10px;
        width: 150px;
        height: 180px;
        border: 1px solid var(--color-text-primary);
        background-color: #3636363d;
        border-radius: 8px;
        box-shadow: 0 0 20px #00000070;

        /* Estilos de Display */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        /* Transições e Hover */
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        font-size: 11px;
    }

    .admin-cards-grid {
        justify-content: center;
    }

    .admin-page-container {
        padding: 10px;
        text-align: center;
        margin: 0px;
    }

    .admin-page-container p {
        width: 100%;
        margin: 0px;
    }
}
