/* Reutiliza estilos do formulário base */

.checkboxes-row {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox-group input[type='checkbox'] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-group label {
    margin-bottom: 0;
    cursor: pointer;
}

/* Estilo específico para o select para combinar com o input */
.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-neutral-accent);
    border-radius: 6px;
    background-color: white;
    font-size: 1rem;
    color: rgb(90, 90, 90);
}

.color-opcao {
    color: #353535;
}

@media (max-width: 600px) {
    .checkboxes-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .form-row {
        display: block;
    }
}
