.contentDesenhos {
    margin-top: 60px;
    color: #000000;
}
.contentDesenhos h1 {
    padding: 15px 30px;
    color: #000000;
}

button {
    padding: 10px;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 70px;
    color: #0c0c0c;
    box-shadow: 0 0 10px #00000070;
    border: none;
}

button:hover {
    box-shadow: 0 0 0px #00000070;
}

button.selected {
    /* border: 1px solid #302b2bd8; */
    color: #747474;
    box-shadow: 0 0 0px #00000070;
}

.botoesCoresDesenho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resultadoNomeDasCores {
    width: 100%;
    display: flex;
    justify-content: center;
}

.resultadoNomeDasCores p {
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 25px;
}

.opcoesRadio {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto; /* Header, main content, footer */
    gap: 20px; /* Space between grid cells */
}

.opcoesRadio label {
    margin-right: 25px;
}

.btnPrint {
    width: 200px;
    background-color: #bbb8b8;
    margin-left: 50px;
}

.resultado-tapete {
    width: 80%;
}

.area-desenho svg {
    cursor: url('/images/cursor.png') 0 0, crosshair;
}
